body{
    font-family: 'Work Sans';
    background-color: #262626;
    color: #6B6B6B;
}

ul{
    padding: 0;
    list-style: none;
}

h1, h2, h3 {
    font-family: 'Staatliches';
    color: #262626;
}

h1{
    font-size: 3rem;
    text-align: center;
}

h2{
    font-size: 2rem;
    margin-top: 50px;
}

.footer{
    text-align: right;
    width: 100%;
    margin-bottom: 15px;
}

.footer p, .footer a{
    color: #6B6B6B;
}

.footer a:before{
    content:'- ';
    text-decoration: inherit;
}

.footer a{
    text-decoration: underline;
}

.footer a:first-child:before{
    content:'';
}

.footer p{
    display: inline;
}

.footer p:before{
    content: ' | ';
}

progress{
    color: yellow;
    height: 8px;
    margin-top: 8px;
    margin-bottom: 15px;
}

progress::-moz-progress-bar {
    border-radius: 0px;
    background: #ededed !important;
}
progress::-webkit-progress-bar {
    border-radius: 0px;
    background: #ededed !important;
}
progress::-webkit-progress-value{
    border-radius: 0px;
    background: #77b5b8 !important;
}
progress[value]{
    border-radius: 0px;
    background-color: yellow;
}

.logo{
    font-family: 'Staatliches';
    font-size: 3rem;
    color: white;
}

.presentation{
    background-color: white;
    color: #262626;
    margin-top: 50px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.desc p{
    padding-right: 75px;
    color: #6B6B6B;
}

.profile{
    height: 275px;
    min-width: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.margin-block{
    margin: 20px;
}

.padding{
    padding-top: 100px;
    padding-bottom: 50px;
}

.vcard{
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.25);
    transform: scale(1.03);
    background-color: white;
    border-radius: 10px;
}

.line{
    color: #77b5b8;
    font-size: 1rem;
    text-align: center;
}

.reseaux{
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 50px;
}

.reseaux_el{
    display: inline;
    margin-right: 15px;
}

.reseaux_el:last-child{
    margin: 0;
}

.reseaux_el a{
    width: 30px;
    padding: 5px;
    padding-bottom: 20px;
    box-sizing: content-box;
}

.reseaux_el a img{
    width: 30px;
}

.contact{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 35px;
}

.contact__el a{
    color: #77b5b8;
}

.skills{

}

.skills__el{
    width: 50%;
    display: inline-block;
    float: left;
}

.skills__el h3{
    font-size: 1.2rem;
    color: #6B6B6B;
    margin-bottom: 0;
}

.call-to-action{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.call-to-action a{
    font-family: 'Staatliches';
    font-size: 1.4rem;
    color: #fff;
    float: left;
    width: calc(50% - 75px);
    margin-right: 75px;
    margin-bottom: 20px;
    box-sizing: border-box;
    background-color: #77b3b8;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}

.call-to-action:before{
    content: '';
    width: 115.4%;
    height: 1px;
    background-color: darkgrey;
    position: absolute;
    bottom: 85px;
    left: -15.4%;
}

.burger{
    position: relative;
    padding: 30px;
    float: right;
}

.burger__el{
    font-size: 0;
    color: transparent;
    background-color: #fff;
    width: 35px;
    height: 3px;
    position: absolute;
    top: 35px;
    right: 0px;
}

.burger__el:before{
    content: '';
    background-color: #fff;
    width: 35px;
    height: 3px;
    position: absolute;
    top: -12px;
}

.burger__el:after{
    content: '';
    background-color: #fff;
    width: 35px;
    height: 3px;
    position: absolute;
    top: 12px;
}

.c-white{
    color: white;
}

.project{
    background-color: white;
    margin-bottom: 75px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.project p{
    color: #6B6B6B;
}

.project img{
    padding: 0;
    object-fit: cover;
}

.project h3{
    margin-top: 15px;
}

.project .date{
    margin-bottom: 5px;
    margin-top: 0;
    text-align: right;
    margin-right: 5px;
    color: #d1d1d1;
}
